body {
  margin: 0;
  background: url('bg.jfif');
}
p{
	margin: 5px;
}




.d1 
{
width: 100px; 
height: 80px;
background: #964b00;
border-radius: 50%/10%;
position: relative;
margin: 50px;
float : left
}
.d1:before {
content: "";
position: absolute; 
top: 10%; 
bottom: 10%; 
right: -5%; 
left: -5%;
background: inherit;
border-radius: 5%/50%;

}

.g1{
    position: relative;
    
    width: 100px;
    height: 100px; 
    
    box-sizing: border-box;
    background-color: aliceblue;
    
    border: 15px solid slategray;
    border-radius: 50%;
	margin: 50px;
float : left
}
.g1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 50px;
    height: 15px;
    background-color: slategray;
    
    border-radius: 0 7.5px 7.5px 0;
    
    transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
	
}
